<div class='body'>
<div class="backdrop"></div>
<div class="modal">
    <div class="modal__title">Связаться с нами</div>
    <div class="modal__data">
        <p class="modal__data_item">Эл.адрес: assadasd@gmail.com</p>
        <p class="modal__data_item">Тел: +972054555555</p>
        <p class="modal__data_item">Часы работы:  Вс-Чт 9.00 - 18.00</p>
        <button class="modal-button"> Назад </button>
    </div>
</div>
<header class="main-header">
        <div class="main-header__brand">
            <span class="cls-1">A<span class="cls-2">ssets </span><span class="cls-3">T</span><span class="cls-4">ogether</span></span>
       </div>
       <nav class="main-nav">
           <a (click)='switchLanguage($event)'>{{ getLanguageButtonText() }}</a>
           <button id="button">{{ getButtonText() }}</button>
       </nav>
   </header>
<main class="main-content">
    <video autoplay muted loop id="myVideo">
        <source src="/assets/video/bg.mp4" type="video/mp4">
    </video>
      <div class="content" [ngClass]="{'content-hebrew': isHE()}">
        <h1 class="content-title" [ngClass]="{'hebrew-content-title': isHE()}">{{ getMaintTitle1() }}</h1>
        <h2 class="content-subtitle" [ngClass]="{'hebrew-subtitle': isHE()}">{{ getMaintTitle2() }}</h2>
        <p id="text" [ngClass]="{'hebrew-text': isHE()}">{{ getMainText() }}</p>
      </div>
</main>
</div>
