* {
  box-sizing: border-box;
}

.body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.main-header {
  width: 100%;
  position: fixed;
  background: black;
  padding: 1rem;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__brand {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  display:inline-block;
  color:#ccc;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

a:hover,
a:active {
  color: white;
  border: 2px solid silver;
  border-radius: 8px;
}


#button {
  width: 12.5rem;
  font-size: 1.2rem;
  border: none;
  border: 2px solid silver;
  background: #000;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

#button:hover,
#button:active {
  background: #ddd;
  color: black;
}

#button:focus {
  outline: none;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.main-content {
  position: relative;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #f1f1f1;
  width: 100%;
  padding: 1.2rem;
}

.content-hebrew {
  text-align: right;
}

#text {
  word-spacing: 0.2rem;
  font-size: 1rem;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  font-size: 1.5rem;
  color: #ff5454;
  font-weight: bold;
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__data {
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
}

.modal-button {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 8px;
}

.modal-button:hover,
.modal-button:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.open {
  display: block !important;
}

.close {
  display: none !important;
}

/*/////////////////*/

@media(min-height: 20rem) {
  #text {
      font-size: 0.8rem;
  }
  .content-subtitle {
      font-size: 1rem;
  }

  .content-title {
      font-size: 1.2rem;
  }

  .modal {
      top: 20%;
      left: 20%;
      width: 65%;
      padding: 1rem;
  }

  .modal__title {
      font-size: 1rem;
      color: #ff5454;
      font-weight: bold;
      text-align: center;
      margin: 0 0 1rem 0;
  }
}

@media(min-height: 40rem) {
  #text {
      font-size: 1rem;
  }
  .content-subtitle {
      font-size: 1.2rem;
  }

  .content-title {
      font-size: 1.4rem;
  }
}

@media(min-height: 48rem) {
  #text {
      font-size: 1.5rem;
  }
  .content-subtitle {
      font-size: 1.7rem;
  }

  .content-title {
      font-size: 2rem;
  }
  .modal__title{
      font-size: 1.7rem;
  }
}

@media(min-width: 20rem) and (orientation: portrait) {
  .main-header__brand{
      font-size: 0.7rem;
  }

  #button {
      width: 8rem;
      font-size: 0.7rem;
      padding: 0.3rem;
  }

  a {
      font-size: 0.7rem;
      padding: 0.3rem;
      margin: 0.1rem;
  }

  #text {
      font-size: 0.8rem;
  }

  .content-subtitle {
      font-size: 0.9rem;
  }

  .content-title {
      font-size: 1rem;
  }

  .modal {
      top: 20%;
      left: 10%;
      width: 80%;
      padding: 0.5rem;
  }

  .modal__title {
      font-size: 1rem;
      color: #ff5454;
      font-weight: bold;
      text-align: center;
      margin: 0 0 1rem 0;
  }
}

@media(min-width: 25rem) and (orientation: portrait),
(min-width: 20rem) and (min-height: 50rem) {
  .main-header__brand {
      font-size: 0.9rem;
  }

  #button {
      width: 8rem;
      font-size: 0.9rem;
  }

  a {
      font-size: 0.9rem;
  }

  #text {
      font-size: 1rem;
  }

  .content-subtitle {
      font-size: 1.2rem;
  }

  .content-title {
      font-size: 1.4rem;
  }
}

@media(min-width: 48rem) and (orientation: portrait) {
  .main-header__brand {
      font-size: 1.3rem;
  }

  #button {
      width: 15rem;
      font-size: 1.3rem;
  }

  a {
      font-size: 1.2rem;
  }

  #text {
      font-size: 1.5rem;
  }

  .content-subtitle {
      font-size: 1.6rem;
  }

  .content-title {
      font-size: 1.7rem;
  }

  .modal__title {
      font-size: 1.7rem;
  }
}

@media(min-width: 64rem) and (orientation: portrait) {
  .main-header__brand {
      font-size: 1.4rem;
  }

  #button {
      width: 12rem;
      font-size: 1.3rem;
  }

  a{
      font-size: 1.2rem;
  }
  #text {
      font-size: 1.7rem;
  }

  .content-subtitle {
      font-size: 1.9rem;
  }

  .content-title {
      font-size: 2.2rem;
  }
  .modal {
      top: 20%;
      left: 20%;
      width: 60%;
      padding: 0.5rem;
  }

  .modal__title {
      font-size: 1.7rem;
      color: #ff5454;
      font-weight: bold;
      text-align: center;
      margin: 0 0 1rem 0;
  }

  .modal__data {
      font-size: 1.2rem;
  }
}

@media(min-width: 64rem) and (min-height: 64rem) {
  .main-header__brand {
      font-size: 1.5rem;
  }

  #button {
      width: 16rem;
      font-size: 1.5rem;
  }

  a{
      font-size: 1.3rem;
      margin: 0.3rem;
  }

  #text {
      font-size: 2rem;
  }
  .content-subtitle {
      font-size: 2.2rem;
  }

  .content-title {
      font-size: 2.5rem;
  }

  .modal {
      top: 20%;
      left: 20%;
      width: 60%;
      padding: 0.5rem;
  }

  .modal__title {
      font-size: 1.7rem;
      color: #ff5454;
      font-weight: bold;
      text-align: center;
      margin: 0 0 1rem 0;
  }

  .modal__data {
      font-size: 1.2rem;
  }
}

.cls-1 {
  color:#448ccb;
  font-family:Century, Century;
}

.cls-2,.cls-4{
  color:#1b5633;
}
.cls-3 {
  letter-spacing:-0.09em;
}
.cls-4 {
  letter-spacing:0em;
}
